@use 'rotating-chakras';
@use 'header';
@use 'footer';
@use 'cookies-modal';
.root-layout{
  position: relative;
  padding-top: clamp(65px, 7.75vh, 84px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .page-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
